/*************************************************************************
	 *
	 * Copyright (c) 2005+ MedHand International AB
	 * All rights reservered.
	 *
	 ***************************************************************
	 *
	 * @(#)book.css
   *
   * DESCRIPTION:
   * ======================
   * CSS for formating MedHand XML(MXML) and iHtml. 
   *
   * CHANGES:
   * ======================
	 *************************************************************************/

/* book specific */
.h1-foreground-color				{code:1000;font-style: normal; color:rgb(7,92,142);}
.h2-foreground-color				{code:1002;font-style: normal; color:rgb(7,92,142);}
.h3-foreground-color				{code:1001;font-style: normal; color:rgb(7,92,142);}
.h4-foreground-color				{code:1003;font-style: normal; color:rgb(7,92,142);}
.h5-foreground-color				{code:1004;font-style: normal; color:rgb(7,92,142);}
.h6-foreground-color				{code:1005;font-style: normal; color:rgb(7,92,142);}
.red-color							{code:1011;font-style:normal;color:rgb(199,9,63);}
.black-color						{code:1011;font-style:normal;color:black;}


	
.shade 							{code:1011;font-style:normal; background-color:rgb(214,223,223); -webkit-border-radius: 15px;
-moz-border-radius: 15px; width:100%;}

.DivTableGroup   {code:1011;font-style:normal;  -webkit-border-radius: 15px;
-moz-border-radius: 15px; width:100%; background-color:rgb(229,231,240); }

.TableFigureWordColor {code:1011;font-style:normal;color:rgb(7,92,142); font-weight:bold;}


.chap_title_no{
font-style:normal;
font-weight:bold;
color: rgb(0,101,164);
font-weight:normal;
}

.chap_title{
font-style: normal;
color: rgb(0,101,164);
} 




.shade_white							{code:1011;font-style:normal; background-color:rgb(255,255,255); -webkit-border-radius: 15px;
-moz-border-radius: 15px; width:100%;}

.abbri {code:1011;font-style:normal;  -webkit-border-radius: 15px;
-moz-border-radius: 15px; width:100%;

background: -webkit-linear-gradient(right, #fefefe,#d6dfdf); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right,#fefefe,#d6dfdf); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #fefefe,#d6dfdf); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right,#fefefe,#d6dfdf); /* Standard syntax */
}

.indent-2 {left:40px;}
.indent-1{width:100px; display:inline-block;}
.indent-1-redi {width:30px; color:rgb(199,9,63); display:inline-block;}
.indent-2-redi {margin-left:40px; color:rgb(199,9,63);}


/* 
.sidebar1{code:1000;width:100%;padding: 5px 10px 5px 10px;margin-top:5px;border: 0px solid rgb(210,130,127);background-color:rgb(245,242,228);}
.black-color-italic					{code:1011;font-style:italic;color:black; }

.sidebarc{code:1000;width:100%;padding: 5px 10px 5px 10px;margin-top:5px;border: 0px solid rgb(210,130,127);background-color:rgb(0,235,235);}
.black-color-italic					{code:1011;font-style:italic;color:black; } */




.redi {code:1000;font-style: normal; color:rgb(167,43,61);}
.text_black-color {code:1005;font-style: normal; color:red;}

.outline-box-white					{code:1006;width:100%;margin-top:5px;background-color:rgb(255,255,255);}
.box-color									{code:1007;width:100%;margin-top:5px;background-color:rgb(171,4,52);}


.inline-box-background-color {
code:1000;
width:100%;
padding: 5px 10px 5px 10px;
margin-top:5px;border: 1px solid black;
background-color:rgb(231,230,209);
-webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

.inline-box-background-color2		{code:1000;width:100%;padding: 5px 10px 5px 10px;margin-top:5px;border: 0px solid rgb(210,130,127);background-color:rgb(247,233,232);}
.inline-box-background-color3		{code:1000;width:100%;padding: 5px 10px 5px 10px;margin-top:5px;border: 3px solid rgb(0,0,0);background-color:rgb(020,255,255);}


.outline-box-color					{code:1008;width:100%;margin-top:5px;background-color:rgb(234,234,234);}

.link-color
{
code:1009;
font-style: normal; 
color: rgb(0,0,0);} 
.text-color									{code:1010;font-style: normal; color:rgb(0,0,0);}



.underline
{
	text-decoration: underline;
	font-style:normal;
}

/* iphone specific */
.outline {width:100%;}
.inline {width:100%;}

/* iphone specific */
li											{margin-top: -7px;color:rgb(171,4,52);}
p[indent="1"]						{margin-left: 15px;list-style-type: none;page-break-after: always;}
p[indent="2"]						{margin-left: 25px;list-style-type: none;page-break-after: always;}
p[indent="3"]						{margin-left: 35px;list-style-type: none;page-break-after: always;}



body.iphone-style {
    background-color: rgb(240,249,245);
}

    body.iphone-style div.small-history {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210,238,228)), to(rgb(240,249,245)));
    }

    body.iphone-style div.history {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210,238,228)), to(rgb(224,243,237)));
    }

    body.iphone-style p.title {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224,243,237)), to(rgb(240,249,245)));
    }


body.iphone-style .outline-box-white{
border: 1px solid rgb(171,4,52);
padding: 5px 10px 5px 10px;
margin-bottom:5px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}


body.iphone-style .box-color								
{border: 1px solid rgb(171,4,52);
padding: 5px 10px 5px 10px;
margin-bottom:5px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}


body.iphone-style .outline-box-color								
{
border: 1px solid rgb(171,4,52);
padding: 5px 10px 5px 10px;
margin-bottom:5px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

body.iphone-style .inline-box-background-color							
{border: 1px solid rgb(210,130,127);
padding: 5px 10px 5px 10px;
margin-bottom:5px;
-webkit-border-top-left-radius: 8px;-
webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

body.iphone-style .inline-box-background-color2							
{
padding: 5px 10px 5px 10px;
margin-bottom:5px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}


body.iphone-style .inline-box-background-color3{
padding: 5px 10px 5px 10px;margin-bottom:5px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}









.gray_background{
	


font-style:normal;
	

width:100%;

border-color:green!important;	

border: 1px solid;

/* display:inline-block; */
	

-webkit-border-radius: 5px;
	

-moz-border-radius: 5px;


}






.orange_background
{

	

background:rgb(254,236,229);
	

font-style:normal;
	

width:100%;
	

color:black;
	

/* display:inline-block; */
	

-webkit-border-radius: 5px;
	

-moz-border-radius: 5px;


}





.div_border
{

	
border: 1px solid rgb(153,153,153);
	
	
width:100%;
	
color:black;
	
	
-webkit-border-radius: 5px;
	
-moz-border-radius: 5px;

}




.white_background
{

	
background:rgb(255,255,255);
	
font-style:normal;
	
width:100%;
	
float:auto;
	
box-shadow: 2px 2px 2px 2px #cfcec3;
	
	
/* display:inline-block; */
	
-webkit-border-radius: 5px;
	
-moz-border-radius: 5px;

}


.inIndex{
	    
display: block;
    
background-color: rgb(255,255,255);
   
 border: 1px solid rgb(153,153,153);
    
margin-top: 3px;
    
margin-bottom: 3px;
    
padding: 5px 10px 5px 10px;
   
-webkit-border-top-left-radius: 8px;
    
-webkit-border-top-right-radius: 8px;
    
-webkit-border-bottom-left-radius: 8px;
   
 -webkit-border-bottom-right-radius: 8px;
	
width: 100%

}

	


a.chapter_names b
{
font-weight: normal !important;

color:rgb(113,73,138);
}
	



a.orange_names b
{
font-weight: normal !important;
	
}
	
	
	

.h5color 
{
font-weight: normal !important;
	
color:rgb(44,123,150);
}
	


a.h5color b
{
font-weight: normal !important;
}
	
	
	


.edema
	{
	
color:rgb(107,109,164);
}


.therapeutic
	{
	
color:white;
	
background:rgb(109,102,159);
	
	
display:block;
	height:40px;
	
/* width:100%; */
	
-webkit-border-radius: 4px;
	
-moz-border-radius: 4px;
	
 margin-top: -10px;
	 
padding-top:18px;
/* 	 
padding-left:1px; 
*/
margin-left:-4;
	
}
	

	
	
.gray-i{
   
 font-style:italic;
	
color:rgb(86,85,84);
  
 
} 

	
.mov-color{
   
	
color:rgb(113,73,138);
	 
font-style:normal;
	
font-weight:bold;
  
 
} 

	

.gray{
    
font-style:normal;
	
color:rgb(86,85,84);
   

} 
	

.big{
    
font-size:30px;
	
font-style:normal;
	
color:rgb(220,145,43);
	
display:inline-block;
	
  
 
} 


.border_
{

border: 1px solid rgb(0,0,0);

font-style:normal;

display:inline-block;

padding: 5px 5px 5px 5px;
margin:auto;

-webkit-border-radius: 8px;

-moz-border-radius: 8px;

border-radius: 8px;
}




.chapter_names_open-color
{
  
color:rgb(118,41,112);
	 
font-style:normal;
	 
font-weight:bold;
	
   

} 




.chapter_names_open-orange
{
  
color:rgb(220,145,43);
	 
font-style:normal;
	 
font-weight:bold;
	
   

}




em[class=mov-color] a{
  
color:rgb(113,73,138);
  	 
font-weight:bold;

}




.fig-title{

color:rgb(117,34,73);

font-style:normal;

}



.tab-title{

color:rgb(113,73,138);

font-style:normal;

}




.border-question{
	
	
display: block;
    
background-color: rgb(255,255,255);
    
border: 1px solid rgb(153,153,153);
    
margin-top: 3px;
   
 margin-bottom: 3px;
   
 padding: 5px 10px 5px 10px;
    
-webkit-border-top-left-radius: 8px;
    
-webkit-border-top-right-radius: 8px;
    
-webkit-border-bottom-left-radius: 8px;
    
-webkit-border-bottom-right-radius: 8px;
	
/* width:100%; */
	
background:#ffffff;
	

}


/* #container-class {
    
display: inline-block;
	
	
} */
	
	



p[indent=shift1]{
	
margin-left:10px;

}



p[indent=shift2]{
	
margin-left:20px;

}



p[indent=shift3]{
	
margin-left:30px;

}



p[indent=shift4]{
	
margin-left:40px;

}








.chapter_names_master
{
color: rgb(2,98,66);
}





.pre_color{
color: rgb(240,168,22);
}




.chapter_names
{
	

color:rgb(2,98,66);
 /* //orange */


}





.chapter_names_h5
{
	

color:rgb(0,0,0);


}







p.align-right{

text-align:right !important;

}







.notice_word_color{

font-style:normal;
	

font-weight:bold;


text-align: center;

display: block;

}










.figure_word_color{


color: rgb(0,105,145);


font-style:normal;
	

font-weight:bold;

}








.orange_names{
	

color:rgb(225,107,90);


}






p[indent=shift_right] {

padding-left: 15px;


}





p[indent=shift_right2] {
    
    

padding-left: 30px;


}







p[indent=shift_right3] {
    
    

padding-left: 50px;


}









p[indent=iam-image] 
{
   
 
text-align: center;


}






p[indent=newline] {
    
    

padding-top:10px;


}





p[indent=center] 
{
    

text-align:center;
   


}





p[indent=right] 
{
    

text-align:right;
   


}





img.symbol {
   
 
margin-bottom: 0px !important;
}
    




.chapter_names_h4 {

}




.chapter_names_references {


color: rgb(227,151,24);


}




.green_names{


color: rgb(2,98,66);


}





.figure_label {


color: rgb(122,35,153);


font-style:normal;


font-weight:bold;


}




.link-color {



}





.title-key-points {


color: rgb(227,151,24);


font-style:normal;


font-weight:bold;



}



.author_title{

font-style:normal;


font-weight:bold;



text-align:center;
display:block;
}



.author_indent{

font-style:normal;


font-weight:normal;


margin-left:44px;

}




td.next {
  
width:100%;
  
text-align:right;

}



.author_indent_right{

font-style:normal;


font-weight:normal;


text-align:right;

display:block;

}



.chap_title_red{
color:rgb(177,4,58);

font-style:normal;

}

.chap_title_yellow{
color:rgb(184,124,15);

font-style:normal;


}




.key_border{

font-style:normal;


font-weight:bold;

color:rgb(184,124,15)

}



.keylist_border{

border: 1px solid rgb(184,124,15);


border-radius: 1px;

font-style:normal;


display:inline-block;


padding: 5px 5px 5px 5px;

background-color:rgb(254,245,228);

margin:auto;


-webkit-border-top-left-radius: 8px;
    

-webkit-border-top-right-radius: 8px;
    

-webkit-border-bottom-left-radius: 8px;
    

-webkit-border-bottom-right-radius: 8px;



}



.align-question-style
{
    
margin-left: 20px;

}



.tbl_border {

width:100%;

border: 1px solid black;

-webkit-border-top-left-radius: 8px;
  
-webkit-border-top-right-radius: 8px;
  
-webkit-border-bottom-left-radius: 8px;
  
-webkit-border-bottom-right-radius: 8px;

}

.green_color{

color: rgb(2,98,66);

}


.green_color2{

color: rgb(2,98,66);

margin-left:15px;
}


.dedi_font{
color: rgb(2,98,66);
font-style:normal;
display: block;
text-align: center;
}

.authors_div{
display: block;
font-style:normal;
text-align:center;
margin-left: 350px;
}

.author_title_color{
color: rgb(2,98,66);
font-style:normal;


font-weight:bold;


}

.preface_indent_right{
font-style:normal;

text-align: right;
display: block;
}

.table_border{
border: 1px solid black;
background-color:rgb(231,230,209);
-webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}